*{margin:0; padding:0;}

html{
	height:100%;
	background:#fff;
}


body{
	font-family: "Trebuchet MS", tahoma, arial;
}

.erros, .aguarde, .certo{
	width:78%;
	padding:5px;
	background:rgba(238,249,113,0.9);
	margin: 20px auto 0 auto;
	border: 1px solid rgba(222, 239, 10, 0.9);
	border-radius: 4px;
	color: #333;
	
}

.certo{
	background:rgba(155,222,143,0.9);
	border-color: rgba(68, 171, 50, 0.9);
	color: rgba(77,77,77,0.9);
}

.erros{
	background: rgba(251, 123, 164, 0.9);
    border-color: rgba(239, 52, 39, 0.9);
	color: rgba(77,77,77,0.9);
}

#formulario{
	width: 100%;
	margin: 40px auto;
	text-align: center;
	position:relative;
 
}
#botoesCad{

  width: 100%;
  margin: 40px auto;
  text-align: center;
  position:relative;

}

#formulario h2, #formulario h3{
	font: 22px "Trebuchet MS", tahoma, arial;
	color: #000;
	width:100%;
	float:left;
	text-align:left;
	margin-bottom:4%;
}
#formulario h3{
	color:#333; 
	font-size:17px;
}

#formulario fieldset:not(:first-of-type){
	display: none;
}    
#formulario fieldset{
	background: white;
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}

#formulario input, #formulario textarea{
	padding:10px;
	border:1px solid rgba(77,77,77,0.9);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline:none;
	box-sizing:border-box;
	width: 100%;
	font:14px "Trebuchet MS", tahoma, arial;
	color:#333;
	margin-bottom:10px;
	
}


#formulario div input, #formulario div label{
	padding:10px;
	display: inline;
	width: 25%;
	font:14px "Trebuchet MS", tahoma, arial;
	color:#333;
	margin-bottom:10px;
	float:left;
}


#formulario  .metade{ 
	width:48%;
}

#formulario  .quarta{
	width:22%;
}

#formulario select{
	padding:10px;
	border:1px solid rgba(77,77,77,0.9);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline:none;
	box-sizing:border-box;
	width: 100%;
	font:14px "Trebuchet MS", tahoma, arial;
	color:#333;
	margin-bottom:10px;
	
}

#formulario .radio{
	display:inline;
	width:5%;
}

#formulario .acao{
	width: 100px;
	color: #ffffff;
	background-color: #337ab7;
	border-color: #2e6da4;
	text-transform: uppercase;
	font-weight: bold;
	padding:12px;
	float: left;
	margin-right:5%;
}
#formulario .acao:hover{
	background-color: #286090;
    border-color: #204d74;
	cursor:pointer;
}
.aguarde{
	color: #286090;
}

#formulario #progresso{
	margin-bottom:30px;
	overflow:hidden;
	counter-reset: step;
}

#formulario #progresso li{
	list-style-type:none;
	color:rgba(77,77,77,0.9);
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
	float:left;
	width:16.66%;
	position:relative;
}

#formulario #progresso li:before{
	content:counter(step);
	counter-increment: step;
	width:20px;
	display:block;
	line-height:20px;
	background:rgba(77,77,77,0.9);
	color:white;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin:0 auto 10px auto;
}

#formulario #progresso li:after{
	content: '';
	width: 100%;
	background:rgba(77,77,77,0.9);
	height:2px;
	position:absolute;
	top:9px;
	left:-50%;
	z-index:-1;
}
#formulario #progresso li:first-child:after{
	content:none;
}

#formulario #progresso li.ativo:before, #formulario #progresso li.ativo:after{
	background:rgba(0,100,0,0.8);
	color:white;
	text-shadow:0 1px 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.glyphicon-modal-window:before {
  content: "\e237";
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}


